* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  li {
    list-style-type: none;
  }
}
a {
  text-decoration: none;
  color: currentColor;
  &:hover {
    color: currentColor;
  }
}


//khai báo biến
$color-yellow: #faa61a;
$color-yealow: #faa61a;
$color-gradient-left-to-right: linear-gradient(78deg, #071543, #071543 44.96%, #165e9e 100%, #165e9e);
$color-gradient-right-to-left: linear-gradient(78deg, #165e9e, #165e9e, #071543, #071543);
$color-white: #ffffff;
$color-medium-white: #f4f4f4;
$color-primary1: #1e6a98;
$color-primary3: #c5c5c5;
$color-primary2: #f4f4f4;
$color-primary4: #2A5AA5;
$color-stroke: #565656;
$color-black: #333;
$color-opacity: #b8b8b8b3;
$color-content: #c4c4c4;
$color-gradient: linear-gradient(78deg, #8093ff, #7d9bfa, #60dbd4, #5ce4cf);
$color-linear-gradient: linear-gradient(78deg, #071543, #071543 44.96%, #165e9e 100%, #165e9e);
$color-title-slide: #B8B8B8;

//scrolltop-btn
#scrolltop__btn {
  border-radius: 100% !important;
  display: flex;
  background-color: transparent !important;
  border: 2px solid $color-primary3;
  text-align: center;
  justify-content: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  padding: 5px;
  @media (max-width: 1024px) {
    padding: 4px !important;
  }
  @media (max-width: 768px) {
    // width: 35px;
    // height: 35px;
    padding: 3px !important;
  }
  @media (max-width: 425px) {
    bottom: 20px !important;
    right: 20px !important;
  }
  svg {
    width: 40px !important;
    height: 40px !important;
    color: $color-primary3;
    @media (max-width: 1024px) {
      width: 35px !important;
      height: 35px !important;
    }
    @media (max-width: 768px) {
      width: 30px !important;
      height: 30px !important;
      padding-bottom: 5px;
    }
    @media (max-width: 425px) {
      width: 25px !important;
      height: 25px !important;
    }
  }
}
#scrolltop__btn:hover {
  cursor: pointer;
  border: 2px solid $color-yellow;
  svg#icon__scroll {
    color: $color-yellow;
  }
}
#scrolltop__btn:active {
  background-color: #555;
}
#scrolltop__btn.show {
  opacity: 1;
  visibility: visible;
}
