@import "common.scss";
.container-fluid {
    @media (min-width: 1400px) {
        max-width: 1160px !important;
        padding: 0 !important;
    }
    @media (max-width: 1439px) {
        max-width: 100%;
        padding: 0 70px !important;
    }
    @media (max-width: 1200px) {
        padding: 0 60px !important;
    }
    @media (max-width: 1024px) {
        padding: 0 40px !important;
    }
    @media (max-width: 768px) {
        padding: 0 20px !important;
    }
    @media (max-width: 640px) {
        padding: 0 10px !important;
    }
}
h2.title__content {
    font-size: 62px;
    font-weight: 400;
    letter-spacing: 1px;
    // line-height: 74px;
    @media (max-width: 1280px) {
        font-size: 52px;
    }
    @media (max-width: 1024px) {
        font-size: 44px;
    }
    @media (max-width: 768px) {
        font-size: 38px;
    }
    @media (max-width: 640px) {
        font-size: 30px;
    }
    @media (max-width: 425px) {
        font-size: 26px;
    }
    @media (max-width: 320px) {
        font-size: 22px;
        margin-bottom: 5px;
    }
}
p.content {
    font-size: 16px;
    color: $color-content;
    margin: 0;
    @media (max-width: 1024px) {
        font-size: 14px;
    }
    @media (max-width: 640px) {
        font-size: 12px;
    }
    @media (max-width: 320px) {
        font-size: 10px;
    }
}
.gradient__line--absolute {
    width: 100%;
    position: absolute;
    bottom: -13px;
    left: 50%;
    transform: translate(-50%);
    @media (min-width: 1440px) {
        max-width: 1160px;
    }
    img {
        width: 100%;
    }
}
.home__page {
    &--banner {
        width: 100%;
        position: relative;
        height: 100%;
        img.banner__home {
            height: 100%;
            width: 100% !important;
        }
        .wrap__btn {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translate(0, -50%);
            cursor: pointer;
            @media (max-width: 768px) {
                bottom: 18px;
            }
            @media (max-width: 640px) {
                bottom: 16px;
            }
            @media (max-width: 320px) {
                bottom: 5px;
            }
            img {
                @media (max-width: 1024px) {
                    height: 40px;
                    width: 25px;
                }
                @media (max-width: 768px) {
                    height: 35px;
                    width: 20px;
                }
                @media (max-width: 640px) {
                    height: 30px;
                    width: 15px;
                }
                @media (max-width: 320px) {
                    height: 20px;
                    width: 10px;
                }
            }
        }
        .expand__btn {
            width: auto;
            height: auto;
        }
    }
    .introduce {
        // background: $color-gradient-left-to-right;
        padding: 100px 0;
        position: relative;
        @media (max-width: 1024px) {
            padding: 80px 0;
        }
        @media (max-width: 768px) {
            padding: 60px 0;
        }
        @media (max-width: 640px) {
            padding: 40px 0;
        }
    }
    .first__introduce {
        height: max-content;
        &--image {
            display: flex;
            justify-content: right;
            margin: 0 auto;
            @media (max-width: 1024px) {
                padding-right: 50px;
            }
            @media (max-width: 640px) {
                padding: 0;
                justify-content: center;
            }
            img {
                width: 85%;
                height: auto;
                @media (max-width: 768px) {
                    width: 90%;
                }
                @media (max-width: 320px) {
                    width: 100%;
                }
            }
        }
        &--content {
            position: relative;
            z-index: 2;
            margin-top: -450px;
            width: 550px;
            @media (max-width: 1024px) {
                margin-top: -350px;
                width: 430px;
            }
            @media (max-width: 768px) {
                margin-top: -290px;
                width: 380px;
            }
            @media (max-width: 640px) {
                margin-top: -250px;
                width: 100%;
            }
            @media (max-width: 425px) {
                margin-top: -170px;
                width: 100%;
            }
            @media (max-width: 320px) {
                margin-top: -135px;
            }
            .title__content {
                color: $color-yellow !important;
                text-transform: capitalize;
                @media (max-width: 640px) {
                    width: 300px;
                }
                @media (max-width: 425px) {
                    width: 250px;
                }
                @media (max-width: 320px) {
                    width: 200px;
                }
            }
            p.content {
                width: 550px;
                margin-top: 305px;
                font-weight: 400;
                color: $color-primary4;
                font-size: 24px;
                @media (max-width: 1024px) {
                    margin-top: 260px;
                    width: 450px;
                    font-size: 21px;
                }
                @media (max-width: 768px) {
                    width: 100%;
                    margin-top: 210px;
                    font-size: 18px;
                }
                @media (max-width: 425px) {
                    margin-top: 110px;
                    font-size: 16px;
                }
                @media (max-width: 320px) {
                    margin-top: 85px;
                    font-size: 14px;
                }
            }
        }
    }
    .second__introduce {
        margin-top: 80px;
        position: relative;
        display: flex;
        @media (max-width: 1024px) {
            margin-top: 60px;
        }
        @media (max-width: 768px) {
            margin-top: 40px;
            flex-direction: column;
        }
        @media (max-width: 640px) {
            margin-top: 30px;
        }
        @media (max-width: 320px) {
            margin-top: 20px;
        }
        &--left {
            width: 60%;
            @media (max-width: 768px) {
                width: 100%;
            }
            h2.title__content {
                text-transform: capitalize;
                color: $color-yellow;
                // padding-right: ;
                margin: 0;
                span {
                    font-size: 75px;
                    @media (max-width: 1024px) {
                        font-size: 60px;
                    }
                    @media (max-width: 768px) {
                        font-size: 54px;
                    }
                    @media (max-width: 640px) {
                        font-size: 48px;
                    }
                    @media (max-width: 425px) {
                        font-size: 38px;
                    }
                    @media (max-width: 320px) {
                        font-size: 32px;
                    }
                }
            }
        }
        &--right {
            width: 40%;
            display: flex;
            align-items: flex-end;
            padding-left: 50px;
            @media (max-width: 1024px) {
                padding-left: 40px;
            }
            @media (max-width: 768px) {
                width: 100%;
                padding: 0;
                margin-top: 15px;
            }
            p.content {
                color: $color-primary4;
            }
        }
    }
    .third__introduce {
        margin-top: 80px;
        display: flex;
        @media (max-width: 1024px) {
            margin-top: 60px;
        }
        @media (max-width: 768px) {
            margin-top: 50px;
            flex-direction: column;
        }
        @media (max-width: 640px) {
            margin-top: 40px;
        }
        &--left {
            width: 60%;
            padding-right: 20px;
            @media (max-width: 768px) {
                padding-right: 0;
                width: 100%;
            }
            @media (max-width: 768px) {
                display: flex;
                justify-content: center;
            }
            img {
                width: 100%;
                height: auto;
                object-fit: contain;
                @media (max-width: 768px) {
                    width: 100%;
                    max-height: 500px;
                }
                @media (max-width: 320px) {
                    width: 100%;
                }
            }
        }
        &--right {
            width: 40%;
            padding: 0 0 0 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            @media (max-width: 1024px) {
                padding: 0 0 0 40px;
            }
            @media (max-width: 768px) {
                padding: 0;
                width: 100%;
            }
            @media (max-width: 500px) {
                margin-top: 20px;
            }
            @media (max-width: 425px) {
                margin-top: 10px;
            }
            h4.title__content {
                font-size: 44px;
                color: $color-yellow;
                margin-bottom: 20px;
                font-weight: 400;
                text-transform: capitalize;
                @media (max-width: 1024px) {
                    font-size: 36px;
                }
                @media (max-width: 768px) {
                    font-size: 30px;
                    margin-bottom: 15px;
                }
                @media (max-width: 640px) {
                    font-size: 24px;
                    margin-bottom: 10px;
                }
                @media (max-width: 425px) {
                    font-size: 24px;
                }
            }
            p.content {
                color: $color-primary4;
            }
            .first__content {
                margin-bottom: 60px;
                @media (max-width: 768px) {
                    margin-bottom: 20px;
                    margin-top: 20px;
                }
                @media (max-width: 425px){
                    margin: 10px 0;
                }
            }
        }
    }
}
.partner {
    padding: 80px 0;
    position: relative;
    @media (max-width: 1280px) {
        padding: 60px 0;
    }
    @media (max-width: 1024px) {
        padding: 50px 0;
    }
    @media (max-width: 768px) {
        padding: 40px 0;
    }
    @media (max-width: 640px) {
        padding: 30px 0 15px 0;
    }
    @media (max-width: 320px) {
        padding: 20px 0 10px 0;
    }
    h2.title__content {
        color: $color-yellow;
        margin-bottom: 50px;
        @media (max-width: 1024px) {
            margin-bottom: 30px;
        }
        @media (max-width: 768px) {
            margin-bottom: 20px;
        }
        @media (max-width: 640px) {
            margin-bottom: 10px;
        }
    }
    &__row {
        padding: 0;
        width: 100%;
        // margin: 0 -20px !important;
        margin: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: left;
        &--item {
            padding: 0 20px;
            width: fit-content;
            display: flex;
            align-items: center;
            justify-content: center;
            @media (max-width: 1200px) {
                padding: 0 15px;
            }
            @media (max-width: 768px) {
                padding: 0 15px;
            }
            @media (max-width: 425px) {
                padding: 0 10px;
            }
            .wrapper {
                cursor: pointer;
                // padding: 25px 20px;
                // display: flex;
                // justify-content: center;
                // align-items: center;
                border: 1px solid transparent;
                border-radius: 10px;
                margin-bottom: 30px;
                transition: 0.3s;
                // @media (max-width: 1024px) {
                //     padding: 20px 15px;
                // }
                @media (max-width: 900px) {
                    margin-bottom: 20px;
                }
                @media (max-width: 640px) {
                    margin-bottom: 10px;
                }
                // @media (max-width: 320px) {
                //     padding: 15px 8px;
                // }
                
            }
            img{
                object-fit: contain;
                @media (max-width: 1024px){
                    max-height: 80px !important;
                }
                @media (max-width: 768px){
                    max-height: 50px !important;
                    max-width: 210px;
                }
                @media (max-width: 425px){
                    max-height: 30px !important;
                    max-width: 120px;
                }
                @media (max-width: 320px){
                    max-height: 20px !important;
                    max-width: 100px;
                }
            }
        }
    }
}

//carousel
// .home__carousel {
//     max-width: 100%;
//     overflow: hidden;
//     // margin-left: -20px;
//     // margin-right: -20px;
//     // @media (max-width: 768px) {
//     //     margin: 0 !important;
//     // }
//     .slick-slide {
//         padding: 20px !important;
//         @media (max-width: 768px) {
//             padding: 15px !important;
//         }
//     }
//     .wrapper__item {
//         max-width: 100%;
//         cursor: pointer;
//         &:hover {
//             .wrapper__item--content {
//                 .content__item {
//                     color: $color-yellow;
//                 }
//             }
//             .wrapper__item--image {
//                 overflow: hidden;
//                 img {
//                     transform: scale(1.3);
//                     transition: 0.5s;
//                 }
//             }
//         }
//         &--image {
//             width: 100%;
//             border-radius: 8px;
//             overflow: hidden;
//             height: 250px;
//             @media (max-width: 1024px) {
//                 height: 200px;
//             }
//             @media (max-width: 768px) {
//                 height: 150px;
//             }
//             @media (max-width: 640px) {
//                 height: 150px;
//             }
//             img {
//                 width: 100%;
//                 height: 296px;
//                 object-fit: cover;
//                 transition: 0.5s;
//             }
//         }
//         &--content {
//             padding: 15px 15px 0;
//             @media (max-width: 768px) {
//                 padding: 10px 10px 0;
//             }
//             .content__item {
//                 font-size: 24px;
//                 font-weight: 500;
//                 color: $color-title-slide;
//                 margin-bottom: 0;
//                 line-height: 30px;
//                 overflow: hidden;
//                 text-overflow: ellipsis;
//                 display: -webkit-box;
//                 -webkit-line-clamp: 3;
//                 -webkit-box-orient: vertical;
//                 @media (max-width: 1024px) {
//                     font-size: 20px;
//                     line-height: 25px;
//                 }
//                 @media (max-width: 768px) {
//                     font-size: 17px;
//                     line-height: 22px;
//                 }
//                 @media (max-width: 500px) {
//                     font-size: 15px;
//                     line-height: 18px;
//                 }
//                 @media (max-width: 320px) {
//                     font-size: 12px;
//                     line-height: 15px;
//                 }
//                 span {
//                     font-size: 14px;
//                     letter-spacing: 1px;
//                     font-weight: 300;
//                     color: $color-primary2;
//                     margin-right: 5px;
//                     @media (max-width: 1024px) {
//                         font-size: 13px;
//                     }
//                     @media (max-width: 768px) {
//                         font-size: 12px;
//                         margin-right: 3px;
//                     }
//                     @media (max-width: 500px) {
//                         font-size: 11px;
//                     }
//                     @media (max-width: 320px) {
//                         font-size: 9px;
//                         letter-spacing: 1px;
//                     }
//                 }
//             }
//         }
//     }
// }
// .see-all {
//     padding: 40px 15px 0;
//     display: flex;
//     position: relative;
//     justify-content: space-between;
//     z-index: 0;
//     @media (max-width: 1024px) {
//         padding-top: 30px;
//     }
//     @media (max-width: 768px) {
//         padding: 30px 20px 0;
//     }
//     @media (max-width: 640px) {
//         padding-top: 20px;
//     }
//     @media (max-width: 320px) {
//         padding-top: 15px;
//     }
//     .wrapper {
//         display: flex;
//         cursor: pointer;
//         align-items: center;
//         @media (max-width: 768px) {
//             flex-direction: row;
//         }
//         &:hover {
//             p.content {
//                 color: $color-yellow;
//             }
//             img {
//                 margin-left: 60px;
//                 transition: 0.6s;
//             }
//         }
//         p.content {
//             font-size: 18px;
//             text-transform: uppercase;
//             font-weight: 500;
//             color: $color-white;
//             @media (max-width: 1024px) {
//                 font-size: 16px;
//             }
//             @media (max-width: 640px) {
//                 font-size: 14px;
//             }
//             @media (max-width: 320px) {
//                 font-size: 12px;
//             }
//         }
//         img {
//             margin-left: 15px;
//             transition: 0.6s;
//             height: 12px;
//             width: 28px;
//             @media (max-width: 500px) {
//                 height: 10px;
//                 width: 18px;
//             }
//         }
//     }
//     .slick__btn {
//         display: flex;
//         // padding-right: 100px;
//         .prev-btn {
//             cursor: pointer;
//             display: flex;
//             align-items: center;
//             opacity: 0.6;
//             &:hover {
//                 opacity: 1;
//             }
//             .pc-visible {
//                 @media (max-width: 500px) {
//                     display: none;
//                 }
//             }
//             .mobile-visible {
//                 display: none;
//                 @media (max-width: 500px) {
//                     display: inline-flex;
//                 }
//             }
//         }
//         .next-btn {
//             cursor: pointer;
//             margin-left: 20px;
//             opacity: 0.6;
//             display: flex;
//             align-items: center;
//             @media (max-width: 320px) {
//                 margin-left: 10px;
//             }
//             &:hover {
//                 opacity: 1;
//                 svg {
//                     fill: $color-yellow !important;
//                 }
//             }
//             .pc-visible {
//                 @media (max-width: 500px) {
//                     display: none;
//                 }
//             }
//             .mobile-visible {
//                 display: none;
//                 @media (max-width: 500px) {
//                     display: inline-flex;
//                 }
//             }
//         }
//     }
// }
