@import './common.scss';

.recruitment-banner{
    width: 100%;
    position: relative;
    &__img{
        width: 100%;
        img{
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
    &__overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #000000cc;
        top: 0;
        left: 0;
        z-index: 1;
    }
    &__title{
        position: absolute;
        display: flex;
        padding-left: 50px;
        padding-bottom: 100px;
        display: flex;
        align-items: flex-end;
        width: 100%;
        height: 100%;
        z-index: 2; 
        top: 0;
        left: 0;
        color: $color-white;
        font-size: 40px;
        letter-spacing: 1px;
        @media(max-width: 769px){
            font-size: 30px;
            padding-bottom: 50px;
            padding-left: 30px;
        }
        @media(max-width: 577px){
            font-size: 25px;
            padding-bottom: 50px;
            padding-left: 30px;
        }
        @media(max-width: 426px){
            font-size: 20px;
            padding-bottom: 25px;
            padding-left: 25px;
        }

    }
}

.recruitment-blog{
    background: $color-gradient-left-to-right;
    padding: 50px;
    @media(max-width:1025px){
        padding-left: 0;
        padding-right: 0;
    }
    &__item{
        &--title{
            color: $color-white;
            padding-left: 30px;
            font-size: 30px;
        }
    }
    &__title{
        font-size: 50px;
        color: $color-yellow;
        letter-spacing: 1px;
        @media(max-width:1025px){
            font-size: 35px;
            margin-bottom: 20px;
        }
        @media(max-width:769px){
            font-size: 30px;
            margin-bottom: 30px;
        }
        @media(max-width:577px){
            font-size: 25px;
            margin-bottom: 15px;
        }
    }
}
.recruitment-blog__tableOfContents{
    background: $color-gradient-left-to-right;
    padding-top: 30px;
    @media(max-width:769px){
        display: none;
    }
}
.recruitment-blog__main{
    padding: 50px;
    @media(max-width:993px){
        padding-left: 0;
    }
    @media(max-width:768px){
        padding-left: 0;
        padding-right: 0;
    }
    @media(max-width:577px){
        padding-left: 15px;
        padding-right: 15px;
    }
    @media screen and (max-width:769px) and (min-width:767px){
        width: 100%;
    }
    &--paginate{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.paginate{
    margin-top: 60px;
    &__title{
        display: flex;
        align-items: center;
        font-size: 14px;
        color: $color-white;
        @media(max-width:577px){
            font-size: 12px;
        }
        @media(max-width:376px){
            font-size: 10px;
        }
        img{
            margin-left: 10px;
            width: auto;
            @media(max-width:577px){
                width: 15%;
            }
        }
    }
    &__chevron{
        display: flex;
        justify-content: flex-end;
        img{
            margin-left: 15px;
            width: auto;
            &:nth-child(1){
                @media(max-width:577px){
                    width: 20%;
                }
            }
            &:nth-child(2){
                @media(max-width:577px){
                    width: 30%;
                }
            }     
        }
    }
}

.wrap-job{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    .job{
        width: 60%;
        @media(max-width:577px){
           width: 80%;
        }
        &__time{
            display: flex;
            .time{
                color: $color-opacity;
                font-size: 16px;
                @media(max-width: 769px){
                    font-size: 14px;
                }
            }
            .top{
                color: $color-yellow;
                font-size: 16px;
                letter-spacing: 2px;
                margin-left: 15px;
                @media(max-width: 769px){
                    font-size: 14px;
                }
            }
        }
        &__title{
            font-size: 30px;
            color: $color-white;
            flex-wrap: wrap;
            @media(max-width: 769px){
                font-size: 25px;
            }
        }
        &__address{
            margin-top: 10px;
            font-size: 14px;
            color: $color-primary3;
            @media(max-width: 769px){
                font-size: 12px;
            }
        }
    }
    &__chevron{
        img{
            width: 100%;
            @media(max-width:577px){
                width: 60%;
            }
        }
    }
}

.tableOfContents{
    padding: 30px;
    @media(max-width:1025px){
        padding-left: 0px;
    }
    &__item{
        margin-top: 25px;
        padding-bottom: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &--link{
            color: $color-opacity;
            font-size: 20px;
            line-height: 38px;
            @media(max-width:1025px){
                font-size: 18px;
            }
        }
        &:hover{
            .tableOfContents__item--link{
                color: $color-yellow;
            }
        }
    }
    .active{
        .tableOfContents__item--link{
            color: $color-yellow;
        }
    }
}
.mobile__tableOfContents{
    margin-top: 20px;
    margin-bottom: 20px;
    display: none;
    @media(max-width:769px){
        display: block;
    }
    &--title{
        color: $color-primary3;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        @media(max-width:769px){
            font-size: 30px;
            margin-bottom: 30px;
        }
        @media(max-width:577px){
            font-size: 25px;
            margin-bottom: 15px;
        }
    }
    &--virtual{
        width: 100%;
        height: 2px;
        background-image: url(../image/recruitment/border_linear.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 5px;
    }
}
.mobile__tableOfContents--menu{
    display: none;
    background: $color-gradient-right-to-left;
    padding: 25px;
    &__item{
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &--link{
            color: $color-opacity;
            font-size: 14px;
            line-height: 38px;
        }
        &:hover{
            .mobile__tableOfContents--menu__item--link{
                color: $color-yellow;
            }
        }
    }
    .active{
        .mobile__tableOfContents--menu__item--link{
            color: $color-yellow;
        }
    }
}


.recruitment-form{
    background: $color-gradient-left-to-right;
    padding: 50px;
    @media(max-width:997px){
        padding-left: 0;
        padding-right: 0;
    }
    &__item{
        @media screen and (max-width:769px) and (min-width:767px){
            width: 100%;
        }
        &:nth-child(2){
            @media screen and (max-width:769px){
                ul{
                    padding-left: 0;
                    label{
                        font-size: 14px;
                    }
                }
            }
        }
    }
    &__text{
        &:nth-child(1){
            padding-left: 50px;
            padding-right: 50px;
            @media(max-width:1040px){
                padding-left: 30px;
                padding-right: 30px;
            }
            @media(max-width:997px){
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
}

.recruitment-form__text{
    .title{
        font-size: 50px;
        color: $color-yellow;
        letter-spacing: 1px;
        @media(max-width:1025px){
            font-size: 35px;
            margin-bottom: 20px;
        }
        @media(max-width:769px){
            font-size: 30px;
            margin-bottom: 30px;
        }
        @media(max-width:577px){
            font-size: 25px;
            margin-bottom: 15px;
        }
    }
    .sub-title{
        font-size: 14px;
        color: $color-white;
    }
}
.recruitment-form__menu{
    &--item{
        display: flex;
        flex-direction: column;
        margin-top: 5px;
        position: relative;
        label{
            color: $color-primary2;
            margin-bottom: 5px;
            padding-left: 20px;
            margin-top: 5px;
        }
        input{
            background-color: transparent;
            border: none;
            border-bottom: 1px solid $color-stroke;
            color: $color-white;
            padding: 5px 8px;
            @media (max-width: 320px){
                height: 22px;
            }
            &:focus{
                outline-width: 0;
            }
        }
        .error__input{
            position: absolute;
            width: 80px;
            height: 3px;
            background: $color-yellow;
            bottom: 0;
            left: 20px;
        }
    }
}
.contact__btn {
    margin-top: 60px;
    padding-left: 52px;
    display: flex;
    @media (max-width: 1024px) {
        margin-top: 50px;
    }
    @media (max-width: 768px){
        padding-left: 20px;
    }
    @media (max-width: 640px) {
        margin-top: 30px;
    }
    @media (max-width: 320px) {
        margin-top: 20px;
    }
    .wrapper {
        display: flex;
        cursor: pointer;
        align-items: center;
        width: fit-content;
        @media (max-width: 768px){
            flex-direction: row;
        }
        &:hover {
            p.content {
                color: $color-yellow;
            }
            img {
                margin-left: 60px;
                transition: 0.6s;
            }
        }
        p.content {
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 500;
            color: $color-white;
            margin-bottom: 0;
            @media (max-width: 1024px) {
                font-size: 16px;
            }
            @media (max-width: 640px) {
                font-size: 14px;
            }
            @media (max-width: 320px) {
                font-size: 12px;
            }
        }
        img {
            margin-left: 15px;
            transition: 0.6s;
            height: 12px;
            width: 28px;
            @media (max-width: 500px){
                height: 10px;
                width: 18px;
            }
        }
    }
}