@import './common.scss';


//section header

section.wrap-header{
    width: 100%;
    height: 120px;
    overflow: hidden;
    
    @media(max-width:769px){
        height: 80px;
    }
}
header{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;    width: 100%;
    z-index: 9;
    position: fixed;
    background: $color-linear-gradient;
    top: 0;
    left: 0;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    height: 120px;
    @media(max-width:769px){
        height: 80px;
        padding: 15px;
    }
    .logo{
        display: flex;
        align-items: center;
        img{
            width: 100%;
            height: auto;
            object-fit: contain;
            @media(max-width:769px){
                width: 70%;
            }
        }
    }
}
.menu{
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media(min-width:1024px){
        justify-content: space-around;
    }
    &__top{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        &--language{
            display: flex;
            align-items: center;
            .language{
                color: $color-white;
                padding: 8px;
                cursor: pointer;
                font-size: 14px;
                @media (max-width:769px){
                    font-size: 12px;
                }
                &:hover{
                    color: $color-yealow;
                }
            }
            .language-active{
                color: $color-yealow;
                &:hover{
                    color: $color-white;
                }
            }
            .language-virtual{
                width: 1px;
                height: 15px;
                background-color: $color-white;
            }
        }
        &--search{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 1px solid $color-white;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            @media(max-width:769px){
                width: 25px;
                height: 25px;
                svg{
                    width: 10px !important;
                    height: 10px !important;
                }
            }
        }
    }
}
nav{
    width: 100%;
    @media(max-width:1024px){
        display: none;
    }
    .navbar{
        margin-bottom: 0;
        justify-content: flex-end;
        &__item{
            cursor: pointer;
            margin-left: 25px;
            margin-right: 25px;
            &--link{
                color: $color-white;
                font-size: 20px;
                font-weight: bold;
                letter-spacing: 1px;
            }
            border-bottom: 2px solid transparent;
            &:hover{
                border-bottom: 2px solid $color-yealow;
                .navbar__item--link{
                    color: $color-yealow;
                }
            }
            &:nth-last-child(1){
                margin-right: 0;
            }
        }
        .active{
            border-bottom: 2px solid $color-yealow;
            .navbar__item--link{
                color: $color-yealow;
            }
        }
    }
}

.show__input--search{
    transform: translateX(0%) !important;
}
.header__input{
    display: flex;
    align-items: center;
    margin-right: 5px;
    transition-duration: 1s;
    transform: translateX(130%);
    position: fixed;
    right: 0px;
    box-shadow: 1px 2px $color-black;
    height: 40px;
    top: 15px;
    z-index: 9;
    @media(max-width:769px){
        height: 30px;
    }
    &--btn,&--close{
        display: flex;
        justify-content: center;
        align-items: center; 
        cursor: pointer; 
        background-color: $color-primary1;
        width: 40px;
        height: 40px;
        @media(max-width:769px){
            width: 30px;
            height: 30px;
            svg{
                width: 10px !important;
                height: 10px !important;
            }
        }
    }
    &--search{
        border: none;
        min-width: 200px;
        height: 40px;
        padding-left: 5px;
        &:focus{
            outline-width: 0;
        }
        @media(max-width:769px){
            height: 30px;
        }
    }    
}

.openMenuNav{
    display: none;
    @media(max-width: 1024px){
        display: flex;
        justify-content: flex-end;
    }
}
.navbar-mobile{
    top: 120px;
    position: fixed;
    left: 0;
    width: 100%;
    background: $color-linear-gradient;
    display: none;
    z-index: 9;
    @media(max-width:769px){
       top: 80px;
    }
    .menu-mobile{
        &__item{
            margin-bottom: 15px;
            &--link{
                color: $color-white;
                font-size: 16px;
                font-weight: bold;
                letter-spacing: 1px;
                border-bottom: 2px solid transparent;
                padding-bottom: 5px;
                font-size: 14px;
                &:hover{
                    border-bottom: 2px solid $color-yealow;
                    color: $color-yealow;
                }
                @media(max-width:769px){
                    font-size: 12px;
                }
            }
        }
        .active{
            border-bottom: none !important;
            .menu-mobile__item--link{
                border-bottom: 2px solid $color-yealow;
                color: $color-yealow;
            }
        }
    }
}


//footer
footer{
    width: 100%;
    background: $color-linear-gradient;
}
.footer__menu--logo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .logo__footer{
        img{
            width: 50%;
            @media(max-width:1200px){
                width: 55%;
            }
            @media (max-width:993px){
                width: 30%;
            }
            @media (max-width:768px){
                width: 40%;
            }
        }
        @media(max-width:993px){
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .icon__footer{
        display: flex;
        padding-left: 0;
        margin-bottom: 0;
        &--item{
            margin-right: 8px;
            cursor: pointer !important;
            img{
                width: 30px;
                height: auto;
                object-fit: contain;
            }
        }
        @media(max-width:992px){
            display: flex;
            justify-content: center;
            margin-bottom: 15px;
        }
        @media(max-width:769px){
            img{
                width: 20px;
            }
        }
    }
}
.footer__menu--nav{
    padding: 15px;
    .menu{
        margin-bottom: 0;
        padding-left: 0;
        padding-top: 0;
        &__item{
            cursor: pointer;
            margin-bottom: 12px;
            &--link{
                color: $color-white;
                font-size: 14px;
                padding-bottom: 5px;
                letter-spacing: 1px;
                @media(max-width:769px){
                    font-size: 12px;
                }
            }
            &:hover{
                .menu__item--link{
                    color: $color-yealow;
                    border-bottom: 2px solid $color-yealow;
                }
            }
            &:nth-last-child(1){
                margin-bottom: 0;
            }
            @media (max-width:1024px){
                margin-bottom: 10px;
            }
        }
    }
}

.footer__menu--infor{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .title{
        font-size: 14px;
        color: $color-white;
        font-weight: bold;
        letter-spacing: 1px;
        padding-bottom: 5px;
        border-bottom: 1px solid $color-yealow;
        @media (max-width:1320px){
            font-size: 12px;
        }
        @media (max-width:769px){
            font-size: 10px;
        }
    }
    .menu__infor{
        padding-left: 0;
        &--item{
            display: flex;
            align-items: center;
            padding-top: 5px;
            padding-bottom: 5px;
            .icon{
                margin-right: 5px;
            }
            .text{
                color: $color-white;
                font-size: 12px;
                display: flex;
                align-items: center;
            }
        }
    }
    &--bottom{
        display: flex;
        justify-content: space-between;
        border-top: 1px solid $color-yealow;
        padding-top: 5px;
        .text{
            color: $color-white;
            font-size: 14px;
            @media (max-width:1320px){
                font-size: 12px;
            }
            @media (max-width:769px){
                font-size: 10px;
            }
            a{
                text-decoration: none;
            }
        }
    }
}
